In [14]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [9]:
df = pd.read_csv("../data/finalData2.csv")
df['time'] = pd.to_datetime(df['time'])
df.drop(['oerlikon', 'time', 'Unnamed: 0'], inplace=True, axis = 1)
X,y = df.drop('city', axis = 1), df['city']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Fit model

In [13]:
reg = xgb.XGBRegressor()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [15]:
score = mean_squared_error(y_test, y_pred)
print(score)

72.03505725463737

In [16]:
X_train.head()

,weekday,minutes_since_midnight,opened,temperature_2m (°C),relative_humidity_2m (%),apparent_temperature (°C),precipitation (mm),cloud_cover (%),wind_speed_10m (km/h),shortwave_radiation (W/m²),is_day ()
337089,5,213,False,10.400000,90.557222,9.355722,0.455722,100.000000,5.600000,0.000000,0.0
47356,5,405,True,4.049333,99.000000,1.924667,0.000000,89.846667,4.774000,0.000000,0.0
234984,1,38,False,11.218333,55.272222,6.091111,0.000000,53.558333,23.663333,0.000000,0.0
58094,2,59,False,1.297889,95.010556,-1.702111,0.000000,60.285000,6.100000,0.000000,0.0
299877,2,1086,True,14.192778,65.750556,12.246389,0.000000,47.501111,9.385556,247.916667,1.0

# Calculate for a week

In [18]:
df = pd.read_csv("../data/finalData2.csv")
df['time'] = pd.to_datetime(df['time'])
start = pd.to_datetime(df['time'])

In [20]:
df

,Unnamed: 0,time,city,oerlikon,weekday,minutes_since_midnight,opened,temperature_2m (°C),relative_humidity_2m (%),apparent_temperature (°C),precipitation (mm),cloud_cover (%),wind_speed_10m (km/h),shortwave_radiation (W/m²),is_day ()
0,0,2024-01-24 16:43:08,155,140,2,1003,True,11.496778,74.594444,7.112444,0.243778,100.000000,25.006000,49.373333,1.0
1,1,2024-01-24 16:43:38,154,140,2,1003,True,11.490944,74.636111,7.109111,0.245444,100.000000,24.991000,49.273333,1.0
2,2,2024-01-24 16:45:31,163,140,2,1005,True,11.468972,74.793056,7.096556,0.251722,100.000000,24.934500,48.896667,1.0
3,3,2024-01-24 16:46:02,163,141,2,1006,True,11.462944,74.836111,7.093111,0.253444,100.000000,24.919000,48.793333,1.0
4,4,2024-01-24 16:46:32,162,143,2,1006,True,11.457111,74.877778,7.089778,0.255111,100.000000,24.904000,48.693333,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412796,412796,2024-06-27 15:57:34,76,105,3,957,True,25.687833,64.878333,28.051333,0.004056,9.865556,8.635222,621.015000,1.0
412797,412797,2024-06-27 15:58:05,76,106,3,958,True,25.690417,64.904167,28.061667,0.003194,9.469444,8.585278,620.162500,1.0
412798,412798,2024-06-27 15:58:35,79,106,3,958,True,25.692917,64.929167,28.071667,0.002361,9.086111,8.536944,619.337500,1.0
412799,412799,2024-06-27 15:59:06,78,105,3,959,True,25.695500,64.955000,28.082000,0.001500,8.690000,8.487000,618.485000,1.0
412800,412800,2024-06-27 16:00:09,77,106,3,960,True,25.701750,64.995000,28.101500,0.000000,8.017500,8.400750,616.960000,1.0