# Interpolate weather forecast data

In [96]:
# module imports
import pandas as pd
import numpy as np

# data import
min = pd.read_csv("minForecast.csv")
hour = pd.read_csv("hourlyForecast.csv")


hour['date'] = pd.to_datetime(hour['date']).dt.tz_convert("Europe/Berlin")
min['date'] = pd.to_datetime(min['date']).dt.tz_convert("Europe/Berlin")
min.head()

,date,temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,wind_speed_10m,is_day,shortwave_radiation
0,2024-10-11 02:00:00+02:00,11.40,88.0,10.239470,0.1,7.072878,0.0,0.0
1,2024-10-11 02:15:00+02:00,11.35,88.0,10.226540,0.1,6.725354,0.0,0.0
2,2024-10-11 02:30:00+02:00,11.30,89.0,10.243811,0.3,6.489992,0.0,0.0
3,2024-10-11 02:45:00+02:00,11.20,89.0,10.170434,0.3,6.120000,0.0,0.0
4,2024-10-11 03:00:00+02:00,11.10,89.0,10.074697,0.3,5.904439,0.0,0.0

In [89]:
# re order
df[['date', 'temperature_2m', 'relative_humidity_2m','apparent_temperature', 'precipitation', 'cloud_cover', 'wind_speed_10m','shortwave_radiation', 'is_day' ]]

,date,temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,cloud_cover,wind_speed_10m,shortwave_radiation,is_day
0,2024-10-11 00:00:00+00:00,11.416500,88.0,10.260470,1.5,100.0,7.072878,0.0,0.0
1,2024-10-11 01:00:00+00:00,11.116501,89.0,10.095670,1.0,100.0,5.904439,0.0,0.0
2,2024-10-11 02:00:00+00:00,10.766500,89.0,9.361357,0.8,100.0,7.895416,0.0,0.0
3,2024-10-11 03:00:00+00:00,10.516500,92.0,9.215612,1.1,100.0,7.636753,0.0,0.0
4,2024-10-11 04:00:00+00:00,10.366501,85.0,8.725340,1.3,99.0,7.594207,0.0,0.0
...,...,...,...,...,...,...,...,...,...
163,2024-10-17 19:00:00+00:00,13.207000,93.0,13.335876,0.0,100.0,3.600000,0.0,0.0
164,2024-10-17 20:00:00+00:00,13.007000,95.0,13.249760,0.0,100.0,3.096837,0.0,0.0
165,2024-10-17 21:00:00+00:00,12.757000,96.0,13.043846,0.0,100.0,2.595997,0.0,0.0
166,2024-10-17 22:00:00+00:00,12.407000,97.0,12.696009,0.0,98.0,2.160000,0.0,0.0
167,2024-10-17 23:00:00+00:00,12.057000,97.0,12.172054,0.0,97.0,2.595997,0.0,0.0

Goal: ['weekday', 'minutes_since_midnight', 'opened', 'temperature_2m (°C)',
       'relative_humidity_2m (%)', 'apparent_temperature (°C)',
       'precipitation (mm)', 'cloud_cover (%)', 'wind_speed_10m (km/h)',
       'shortwave_radiation (W/m²)', 'is_day ()']

In [101]:
df.set_index("date")

,temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,cloud_cover,wind_speed_10m,is_day,shortwave_radiation
date,,,,,,,,
2024-10-11 00:00:00+00:00,11.416500,88.0,10.260470,1.5,100.0,7.072878,0.0,0.0
2024-10-11 01:00:00+00:00,11.116501,89.0,10.095670,1.0,100.0,5.904439,0.0,0.0
2024-10-11 02:00:00+00:00,10.766500,89.0,9.361357,0.8,100.0,7.895416,0.0,0.0
2024-10-11 03:00:00+00:00,10.516500,92.0,9.215612,1.1,100.0,7.636753,0.0,0.0
2024-10-11 04:00:00+00:00,10.366501,85.0,8.725340,1.3,99.0,7.594207,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-10-17 19:00:00+00:00,13.207000,93.0,13.335876,0.0,100.0,3.600000,0.0,0.0
2024-10-17 20:00:00+00:00,13.007000,95.0,13.249760,0.0,100.0,3.096837,0.0,0.0
2024-10-17 21:00:00+00:00,12.757000,96.0,13.043846,0.0,100.0,2.595997,0.0,0.0
2024-10-17 22:00:00+00:00,12.407000,97.0,12.696009,0.0,98.0,2.160000,0.0,0.0
2024-10-17 23:00:00+00:00,12.057000,97.0,12.172054,0.0,97.0,2.595997,0.0,0.0